In [1]:
import numpy as np

beta52 = [1.38, 0.47, 1.02]
investment = [5, 2, 3]

sumOfInvestment = sum(investment)
weights = [ w/sumOfInvestment for w in investment ]

beta = np.dot(beta52, weights)

print('The portfolio beta is {0:0.2f}'.format(beta))

The portfolio beta is 1.09

In [2]:
beta = 1.09
rf = 4
marketReturn = 10

expReturnPortfolio = rf + (marketReturn - rf) * beta

print('The expection return of the portfolio is {0:0.2f}'.format(expReturnPortfolio))

The expection return of the portfolio is 10.54

In [3]:
import pandas as pd

url ='https://raw.githubusercontent.com/jimsjoo/gilbut_portfolio/master/portfolioAB.csv'

df = pd.read_csv(url)
df.head()

         Date    KOSPI    PortA    PortB
0  2014-04-08  1993.03  1058.29  1008.29
1  2014-04-09  1998.95  1058.77  1008.85
2  2014-04-10  2008.61  1059.77  1010.05
3  2014-04-11  1997.44  1058.78  1008.86
4  2014-04-12  1997.44  1060.70  1010.96

In [4]:
# 'KOSPI', 'PortA', 'PortB'의 수익률을 계산한다
returns = df[['KOSPI', 'PortA', 'PortB']].pct_change()
returns

         KOSPI     PortA     PortB
0          NaN       NaN       NaN
1     0.002970  0.000454  0.000555
2     0.004833  0.000944  0.001189
3    -0.005561 -0.000934 -0.001178
4     0.000000  0.001813  0.002082
...        ...       ...       ...
1983  0.000000  0.001553  0.001856
1984  0.000000  0.000257  0.000304
1985  0.000000 -0.000337 -0.000396
1986  0.000000  0.000124  0.000147
1987  0.006354  0.000718  0.000875

[1988 rows x 3 columns]

In [5]:
# 앞서 읽어 들인 포트폴리오 수익률의 변동성, 공분산, 베타를 계산한다
import math

vol_m = returns['KOSPI'].std() * math.sqrt(250)
vol_A = returns['PortA'].std() * math.sqrt(250)
vol_B = returns['PortB'].std() * math.sqrt(250)
print('KOSPI200 일간변동성: {:0.2%}'.format(vol_m))
print('Portfolio A 일간변동성: {:0.2%}'.format(vol_A))
print('Portfolio B 일간변동성: {:0.2%}'.format(vol_B))

covs = returns.cov()
cov_mA = covs.loc['KOSPI', 'PortA']
cov_mB = covs.loc['KOSPI', 'PortB']
var_m = returns['KOSPI'].var()
beta_A = cov_mA / var_m
beta_B = cov_mB / var_m
print('Portfolio A의 beta: {:.4f}'.format(beta_A))
print('Portfolio B의 beta: {:.4f}'.format(beta_B))

KOSPI200 일간변동성: 9.83%
Portfolio A 일간변동성: 4.15%
Portfolio B 일간변동성: 4.76%
Portfolio A의 beta: 0.0154
Portfolio B의 beta: 0.0186